.Knowledge{
    flex: 4;
}
.Courseaddbutton{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 85%;
  }