
.sidebar{
    flex: 1;
   height: calc(100vh-60px);
   background-color: lightsalmon;
    position: sticky;
   top: 60px;
   border-radius: 15px;
   height: 91vh;
}

.sidebarMenu{
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 13px;
}

.sidebarWrapper{
    padding: 10px;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: white;
    transition: top 0.5s;
}
.link li{
    text-decoration: none;
}
