.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Courses{
    flex: 1;
  margin: 0px 20px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: green;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
.Courses:hover{
    transform: scale(1.1);

}
.Registerations{
    flex: 1;
  margin: 0px 20px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: blue;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
.Registerations:hover{
    transform: scale(1.1);

}
.Testimonials{
    flex: 1;
  margin: 0px 20px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
.Testimonials:hover{
    transform: scale(1.1);

}
.Staffs{
    flex: 1;
  margin: 0px 20px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: gray;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
.Staffs:hover{
    transform: scale(1.1);

}
.featuredTitle{
    font-size: 30px;
    font-weight: 600;

}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    margin-left: 5px;
    color:white;
}



