.aboutus{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 3%;
    background-color: rgba(0, 0, 0, 0.178);
   width: 60%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.videotext{
    background-color: rgba(0, 0, 0, 0.178);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aboutus:hover{
    
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.9);
    
}
.videotext:hover{
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.9);
  
}