.memberMain{
    background-color: #333333;
    color: white;
    background-image: linear-gradient(45deg, rgb(120, 87, 148), rgb(17, 2, 26));
    text-align: left;
}

.memberHeading{
    text-align: center;
    background-image: url('https://i.imgur.com/c2qLcXK.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
}

.blackCoverWP{
    background-color:rgb(3,3,3,0.8);
    padding: 80px;
}

.benefitsIcon{
    height:64px;
    width: 64px;
    background-color: #3b4ba3;
    padding: 10px;
    border-radius: 10px;
    place-items: center center;
    background: radial-gradient(circle at bottom center, #3b4ba3 15px, #0a2475, #021f75);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.academicBenefits{
    background: linear-gradient(45deg, rgb(4,54,54,0.8), rgba(10, 7, 8, 0.8)),url('https://i.imgur.com/eFkznWG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(4,54,54,0.8);
    color:white;
    padding: 40px 0;
    line-height: 25px;
}

.academicCourse{
    background-image: linear-gradient(45deg, rgba(
        145, 146, 122, 0.8), rgba(10, 7, 8, 0.8)),url('https://i.imgur.com/OKeuflw.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    color: white;
    padding : 60px 10px;
}

.premiumMemList{
    overflow-y: auto;
    height: 300px;
}

.validityPM{
    color: white;
    text-align: center;
    background: linear-gradient(45deg, rgb(37, 37, 37), rgb(17, 2, 26));
    background-color: #333333;
    line-height: 30px;
    padding: 100px 10px;
}

.corpMemberHeading{
    background-image: linear-gradient(45deg, rgba(65, 63, 63, 0.8), rgb(17, 2, 26,0.8)),
                    url('https://i.imgur.com/svQsbNM.png');
    background-color: #333333; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 80px;              
}






