.memberMain{
    background-color: #333333;
    color: white;
    background-image: linear-gradient(45deg, rgb(120, 87, 148), rgb(17, 2, 26));
}

.memberHeading{
    text-align: center;
    background-image: url('https://i.imgur.com/c2qLcXK.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
}

.blackCoverWP{
    background-color:rgb(3,3,3,0.8);
    padding: 80px;
}

.blackCover{
    background-color:rgb(4,54,54,0.8);
    margin: 0;
    padding: 10px;
}
.benefitsIcon{
    height:128px;
    width: 128px;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, dodgerblue, rgb(116, 184, 243));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.academicBenefits{
    background: url('https://i.imgur.com/eFkznWG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}

.academicCourse{
    background-image: linear-gradient(45deg, rgba(
        145, 146, 122, 0.8), rgba(10, 7, 8, 0.8)),url('https://i.imgur.com/UMdL7gC.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    color: white;
    padding : 60px 10px;
}

.premiumMemList{
    overflow-y: auto;
    height: 300px;
}

.validityPM{
    color: white;
    text-align: center;
    background: linear-gradient(45deg, rgb(37, 37, 37), rgb(17, 2, 26));
    background-color: #333333;
    line-height: 30px;
    padding: 100px 10px;
}






